<nav class="topbar">
    <a href="{% url 'inicio' %}" class="logo">
        <h1>🐾 vEterInariA</h1>
        <p>Cuidamos a tus mascotas como parte de nuestra familia</p>
    </a>
    <div class="nav-links">
        <a href="{% url 'registrar_propietario' %}">Registrar Propietario</a>
        <a href="{% url 'registrar_mascota' %}">Registrar Mascota</a>
        <a href="{% url 'registrar_cita' %}">Registrar Cita</a>
        <a href="{% url 'lista_propietarios' %}">Propietarios</a>
        <a href="{% url 'lista_mascotas' %}">Mascotas</a>
        <a href="{% url 'lista_citas' %}">Citas</a>
    </div>
</nav> 